.login{
  margin-top: 1%;
   border: 1px solid rgb(58, 96, 222);
  box-sizing: border-box;
  display: inline-block;
}

.lock{
  background-color: rgb(212, 147, 62)!important;
    font-size: x-large !important;
}
.Login{
  width: 100%;
  
}