.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
  background-image: url("https://cdn.pixabay.com/photo/2021/01/10/12/00/road-5904909_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Login .login {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  max-height: 100%;
}

.Login .lock {
  background-color: #cd8715;
}

.Login form {
  width: 100%;
  margin-top: 1rem;
}

.Login form > * {
  margin-bottom: 1rem;
}

.Login button {
  color: white;
  background-color: #cd8715;
}
