.homeComponent{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../Assets/Images/bastei-3014467_1280.jpg");
  background-blend-mode: lighten;
  position:absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.Home {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../Assets//Images/bastei-3014467_1280.jpg");
  background-size: cover;
  background-position: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #85d3df67;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.Home h1 {
  font-size: 5rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -1px -1px 0  white, 1px -1px 0 #e0cdcd, -1px 1px 0 white, 1px 1px 0 white;
  background-color: rgb(31, 25, 185);
    
}

.Home .para  {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  padding-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -1px -1px 0  white, 1px -1px 0 #e0cdcd, -1px 1px 0 white, 1px 1px 0 white;
}
.p{
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  padding-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none !important;
  color: black;
}

.get-started-button {
  background-color: #e3b667 !important;
  font-weight: bold;
  padding: 1rem 2rem !important;
  font-size: large;
  cursor: pointer;
  animation: pulse 1s infinite;
  position: relative;
  bottom: 2%;
  text-decoration: none !important;
  letter-spacing: 2px;
  border: solid 1px white;
  border-radius: 3%;
position: relative;
color:white
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 555px) {
  .Home h1 {
    font-size: 3rem;
  }
  .Home .para {
    font-size: 1.1rem;
    padding: 0 0 0.6rem 0;
  }
  .get-started-button {
    padding: 0.4rem 0.5rem !important;
    font-size: 1rem;
    cursor: pointer;
  }
  .text {
    position: relative;
    bottom: 4%;
  }
}
.searchTitle{
  color: rgb(24, 55, 123);
  font-size: x-large;
}


