.UserButtons {
	
}
.UserButtons .like {
    background-color:white!important;
   margin-left: 14px!important;
   size: 70%;
}
.UserButtons .folowers{
    position: absolute;
    bottom:-30%;
    right: 5%;
    /* padding-top: 1%; */
    margin-top: 1%;
    padding: 2%;
   size:70%;
    /* background-color: white!important;  */
    font-size: larger;
    font-weight: bolder;
    /* border-radius: 1000%; */
    color: orange;
}
.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
  }
