.VacationList .MyCards {
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255, 255, 255, 0.779), rgba(173, 89, 5, 0.71)), url("../../../Assets/Images/bastei-3014467_1280.jpg");
  background-size: cover;
  background-position: center;
  width: 90%;
  margin-left: 2%;
  margin: 1%;
  box-shadow: white 2px 3px 4px 2px;
  padding-bottom:6%;
}

.VacationList .Cards {
  position: relative;
  left: 5%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255, 255, 255, 0.779), rgba(173, 89, 5, 0.71)), url("../../../Assets/Images/bastei-3014467_1280.jpg");
  background-size: cover;
  background-position: center;
  width: 90%;
  margin-left: 2%;
  margin: 1%;
  box-shadow: white 2px 3px 4px 2px;
  padding-bottom:6%;
}

.MyCards>*{
width: 1000px;
}
.listTitle {
  margin: 0%;
  font-size: 70px;
  color: rgb(29, 51, 83);
  text-shadow: 2px 5px 8px rgba(10, 92, 112, 0.927);
  /* horizontal offset, vertical offset, blur radius, color and opacity */
  text-decoration-line: 10px gray;
  font-weight: 900;
}

.VacationList>* {
  justify-content: center;

}

.VacationList {
  position: absolute;
top: 10%;

}
.VacationList h3{
  font-size: 30px;
  color: #ffffff;
}

.VacationList h2 {
  position: relative;
  /* left: 2% !important; */
  font-size: 3rem;
  color: rgb(204, 132, 96)!important;
  text-shadow: 8px 8px 8px rgba(221, 216, 214, 0.927);
  -webkit-text-stroke: 1px rgb(17, 26, 86);
  width: 100%;

}
.VacationList .filterButtons {
   border-radius: 50%;
  display: flex;
    background-color: white !important;
  color: rgb(51, 101, 159) !important;
  margin-bottom: 2%;
  
}
.VacationList .add{
  margin-left: 30%;
  width:60px ;
  height: 60px;
}

.containerList {
  width: 100%;
  height: 100%;
}
.containerAdmin{
  display: flex;
  width: 100%;
  height: 100%;
}
.linksList {
  /* margin-top: 1%; */
 position: relative;
 right: 0% !important;

 }
.linksList> h2{
  color: aliceblue;

}
.VacationList .noFound{
font-size: 40px;
color: rgb(29, 51, 83);
font-weight: 900;
}

.VacationList .back{
  width: 100px;
  color:rgb(30, 67, 137)
}
.pagination{
position: absolute;
left: 45%;
font-size: larger;
font-weight: bold;
z-index: 2000;
bottom: 4%;
}