.VacationList {
  padding-top: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
  justify-content: center;
   /* max-height: 50%; */
 background-color: rgba(240, 248, 255, 0.594);
 background-color: rgb(220, 235, 248);
}
.VacationList>*{
  margin: 1%; 
  justify-content: center;
}

.add{
  background-color: aliceblue;
}

