

/* CSS for Card Component */
.VacationCard {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
 
}

.card-content {
  padding: 16px;
  height: 210px;
}

.card-image {
  height: 140px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.card-description {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: auto;
  /* height: 30%; */
  max-height: 50%;
 
}
.card-destination,
.card-dates {
  margin-bottom: 4px;
  font-size: 12px;
  color: gray;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card-followers {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 12px;
}

.card-image-container {
  position: relative;
}

.location-icon {
  position: absolute;
  bottom:  0;
  left: 0;
  padding: 8px;
font-size: larger;
font-weight: 800;
background-color: rgba(240, 248, 255, 0.452);
}