.Menu a {
   color: rgb(222, 224, 234) !important;
   width: 20%;
   
}
.a{
   margin-left: 5% !important;
   
  
}

.appBar{
   background-color: rgb(8, 67, 18)!important;
}

.Menu img{
   width: 12%;
   height: 12%;
   position: relative;
   left: 0%;
}
.Menu .authMenu{
 position: absolute;
right: 2%;
border:  1px white solid;
padding: 1%;
}