.VacationsFilterButtons{
 width: 100%;
}
.VacationsFilterButtons .filterButtons {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(11, 11, 43);
  align-items: center;
  justify-content: center;
  background-color: white !important;
  color: rgb(51, 101, 159) !important;
  margin-bottom: 2%;
  width: 60px;
  height: 60px;
 margin-left:8px!important;
 box-shadow: 2px 3px 5px 2px rgb(10, 10, 64);
}
.VacationsFilterButtons .checkedIcon {
  border: 1px solid #c07910;
  border-radius: 50%;
  background-color: white;
  color: rgb(171, 119, 16);
}
  
  .checkedIcon {
    border: 1px solid #c07910;
    border-radius: 50%;
    background-color: white;
    color: rgb(171, 119, 16);
  }
  