.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
  
  .Layout .main-header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .Layout .main-content {
    flex-grow: 1;
    padding: 20px;
  }
