@media (max-width: 768px) {
  .Layout {
    background: linear-gradient(45deg, #1a4857, #FFC371 10%, white, #1a4857 90%); /* Background gradient for smaller screens */
  }
}

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  /* background-image: url("../../../Assets/Images/aircraft-1043836_1280.jpg"); */
  background-image: url("../../../Assets/Images/background-g304829845_1920.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

  
  .Layout .main-header {
    background-color: #f1f1f17a;
    /* padding: 20px; */
  }
  
  .Layout .main-content {
    flex-grow: 1;
    /* padding: 20px; */
  }
  .main-footer{
    /* background-color: rgb(215, 209, 149); */
  }