.UserButtons {
	
}
.UserButtons .like {
    background-color:white!important;
   margin-left: 14px!important;
   size: 70%;
}
.UserButtons .folowers{
    position: absolute;
    bottom:-30%;
    right: 5%;
     margin-top: 1%;
    padding: 2%;
   size:70%;
    font-size: larger;
    font-weight: bolder;
    color: rgb(11, 11, 61);
 
 }
 .UserButtons .card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
  }
