  .lock{
    background-color: rgb(212, 147, 62)!important;
      font-size: x-large !important;
  }
  .Register  .submit{
background-color: rgb(238, 174, 89);
  }
  .Register  .submit:hover{
    background-color: rgb(219, 144, 45);
  }
  .Register{
    height:100vh; 
    margin-top: 0%;
    background-image: url("https://cdn.pixabay.com/photo/2020/03/13/14/06/dead-sea-4927978_1280.jpg");
overflow: hidden !important;
  }

  .register{
    background-color: rgba(240, 248, 255, 0.642);
    height:100vh; 
    padding-top: 5% !important;
  
  }