.Register .lock {
background-color: rgb(212, 147, 62)!important;
  font-size: x-large !important;
}

.Register .submit {
  background-color: rgb(238, 174, 89);
}

.Register .submit:hover {
  background-color: rgb(219, 144, 45);
}

.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
  background-image: url("https://cdn.pixabay.com/photo/2020/03/13/14/06/dead-sea-4927978_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  max-width: 400px;
  max-height: 100vh;
  padding: 20px;
  background-color: rgba(240, 248, 255, 0.842);
  border-radius: 10px;
}

.Register form > * {
  margin-bottom: 1rem;
}


